In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
# File to Load 
vine_data_to_load = os.path.join("vine_table.csv")


# Read the Vine Data and store into a Pandas DataFrame
vine_data_df = pd.read_csv(vine_data_to_load)
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R9CO86UUJCAW5,3.0,0.0,0.0,N,Y
1,R3PR8X6QGVJ8B1,5.0,0.0,0.0,N,Y
2,R39BO2819ABUPF,4.0,0.0,0.0,N,Y
3,R3ADL7V6EGGEEP,4.0,0.0,0.0,N,Y
4,R1OXYPBPLVRMI5,5.0,0.0,0.0,N,Y

In [3]:
# Create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20
filtered_votes_df = vine_data_df.loc[(vine_data_df["total_votes"] >= 20)]
filtered_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
157,RL8D0KJ0J9L0O,5.0,152.0,165.0,N,Y
241,R1BEINAIQFBRJC,5.0,21.0,23.0,N,Y
368,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
397,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y

In [4]:
# Filter the new DF create a new DF to retrieve all the rows where 
# the number of helpful_votes divided by total_votes is equal to or greater than 50%
vote_percentage = filtered_votes_df.loc[((filtered_votes_df["helpful_votes"]) / (filtered_votes_df["total_votes"])) >= .5]
vote_percentage.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
157,RL8D0KJ0J9L0O,5.0,152.0,165.0,N,Y
241,R1BEINAIQFBRJC,5.0,21.0,23.0,N,Y
368,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
397,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y

In [5]:
# Filter vote_percentage and create a new DF that retrieves 
# all the rows where a review was written as part of the Vine program (paid)
paid_reviews = vote_percentage.loc[(vote_percentage["vine"] == "Y")]
paid_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
10524,R2BQOD1R0228FN,3.0,17.0,26.0,Y,N
15946,RC31RUPFOHBHQ,4.0,102.0,117.0,Y,N
23851,REN3N1WITLF1Y,5.0,33.0,37.0,Y,N
25914,R71RZQ9UZVG47,4.0,38.0,47.0,Y,N
33062,R38NMQBH88HLM6,4.0,18.0,24.0,Y,N

In [6]:
# Filter vote_percentage and create a new DF that retrieves 
# all the rows where a review was written was not part of the Vine program (unpaid)
unpaid_reviews = vote_percentage.loc[(vote_percentage["vine"] == "N")]
unpaid_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
45,R11IBSD5E6HPSD,1.0,29.0,31.0,N,Y
157,RL8D0KJ0J9L0O,5.0,152.0,165.0,N,Y
241,R1BEINAIQFBRJC,5.0,21.0,23.0,N,Y
368,R2KVWAYBPWK1OV,5.0,20.0,22.0,N,N
397,R1FLOE9E4ODIGR,5.0,34.0,38.0,N,Y

In [7]:
# Vine total reviews
vine_total_reviews = len(paid_reviews)
vine_total_reviews

157

In [8]:
# Vine 5 star reviews
vine_5_star = len(paid_reviews[paid_reviews["star_rating"] == 5])
vine_5_star

84

In [9]:
# Vine 5 star review percentage
vine_5_star_percent = (vine_5_star/vine_total_reviews) * 100
vine_5_star_percent

53.503184713375795

In [10]:
# Unpaid total reviews
unpaid_total_reviews = len(unpaid_reviews)
unpaid_total_reviews

24709

In [11]:
# Unpaid 5 star reviews
unpaid_5_star = len(unpaid_reviews[unpaid_reviews["star_rating"] == 5])
unpaid_5_star

11930

In [12]:
# Unpaid 5 star review percentage
unpaid_5_star_percent = (unpaid_5_star/unpaid_total_reviews) * 100
unpaid_5_star_percent

48.282002509207175